*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

.a11y {
  position: absolute;
  top: auto;
  left: -9999em;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.column {
  margin-top: 5rem;
  padding: 0 4rem;
}
.column__tit {
  position: relative;
  margin-bottom: 3.5rem;
  padding-bottom: 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}
.column__tit {
  border-color: #a5a5a5;
}

.column__tit::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 5px;
  background-color: #eb1b33;
  content: "";
}
.column__desc {
  font-size: 1.6rem;
  line-height: 1.4;
}

.wrap {
  display: flex;
  max-width: 960px;
  margin: 3rem auto;
  padding-bottom: 3rem;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08), 0 1px 3px 1px rgba(60, 64, 67, 0.16);
}
@media (max-width: 767px) {
  .wrap {
    display: block;
    margin: 0;
  }
}

.intro {
  width: 30%;
  min-height: 100%;
  padding-bottom: 3rem;
}
.intro__img {
  overflow: hidden;
  width: 140px;
  height: 140px;
  margin: 5rem auto 2rem;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .intro {
    width: auto;
    min-height: auto;
    padding-top: 5rem;
  }
  .intro__img {
    margin-top: 0;
  }
}

.name {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.job {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: #eb1b33;
  text-align: center;
}

.contact__item {
  padding-left: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .contact__list {
    display: flex;
  }
}

.skill__name {
  display: inline-block;
  width: 5rem;
  font-size: 1.8rem;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .skill__items {
    display: flex;
    justify-content: space-around;
  }
  .skill__name {
    width: 5.3rem;
  }
}

.detail {
  width: 70%;
  padding-top: 0.5rem;
}
.detail .info__tit {
  border-color: #404042;
}
@media (max-width: 767px) {
  .detail {
    width: auto;
  }
}

.career {
  font-size: 1.6rem;
  line-height: 1.4;
}
.career__item {
  margin-bottom: 2rem;
  border-bottom: 1px solid #a5a5a5;
}
.career__item:last-child {
  border-bottom-width: 0;
}
.career__date {
  width: 30%;
}
.career__desc {
  width: 70%;
}
.career__company {
  font-size: 2rem;
  font-weight: 700;
}
.career__job {
  display: inline-block;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  vertical-align: top;
}
.career__project {
  margin-left: 1.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.4;
}
.career__project li {
  margin-bottom: 1rem;
}
.career__link {
  display: inline-block;
  margin-left: 1rem;
}
@media (max-width: 639px) {
  .career__item {
    padding-left: 2rem;
  }
  .career__project li {
    margin-bottom: 2.5rem;
  }
  .career__txt {
    display: block;
  }
  .career__link {
    margin-left: 0;
    margin-top: 1rem;
  }
  .career__link:nth-of-type(2) {
    margin-left: 1rem;
  }
}

.about .column__desc {
  font-size: 1.2rem;
}
.about p {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
