.wrap {
  display: flex;
  max-width: 960px;
  min-height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
}
// info =============================================================
.intro {
  // @include debug;
  width: 30%;
  min-height: 100%;
  padding-bottom: rem(30);
  color: #fff;
  background-color: $color-dark;

  &__img {
    // @include debug;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin: rem(50) auto rem(20);
    border-radius: 50%;
  }
}

.name {
  margin-bottom: rem(10);
  font-size: rem(20);
  font-weight: 700;
  text-align: center;
}

.job {
  font-size: rem(18);
  font-weight: 600;
  line-height: 1.4;
  color: $color-red;
  text-align: center;
}

.contact {
  &__item {
    // @include debug(#fff);
    display: flex;
    padding-left: rem(20);
    margin-bottom: rem(10);
    color: #fff;

    a {
      color: inherit;
    }
  }
}

// skill ===========================
.skill {

  &__name {
    // @include debug;
    display: inline-block;
    width: rem(50);
    font-size: rem(18);
    line-height: 1.4;
  }
}


// detail =============================================================
.detail {
  width: 70%;
  padding-top: rem(5);

  .info__tit {
    border-color: $color-dark;
  }
}

.career {
  font-size: rem(16);
  line-height: 1.4;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20);
  }

  &__date,
  &__desc {
    // @include debug;
    flex: 1 0 auto;
  }

  &__date {
    width: 30%;
  }

  &__desc {
    width: 70%;
  }

  &__company {
    font-size: rem(20);
    font-weight: 700;
  }

  &__job {
    display: inline-block;
    margin-top: rem(5);
    margin-left: rem(15);
    font-size: rem(12);
    vertical-align: top;
  }

  &__project {
    margin-left: rem(15);
    margin-top: rem(20);
    font-size: rem(12);
    line-height: 1.4;

    li {
      margin-bottom: rem(10);
    }
  }

  &__link {
    display: inline-block;
    margin-left: rem(10);
  }
}