.wrap {
  display: flex;
  max-width: 960px;
  min-height: 100%;
  margin: {
    left: auto;
    right: auto;
  }

  @include respond($width-tablet) {
    display: block;
    padding-bottom: rem(100);
  }
}
// info =============================================================
.intro {
  // @include debug;
  width: 30%;
  min-height: 100%;
  padding-bottom: rem(30);
  color: #fff;
  background-color: $color-dark;

  &__img {
    // @include debug;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin: rem(50) auto rem(20);
    border-radius: 50%;
  }

  @include respond($width-tablet) {
    width: auto;
    min-height: auto;
    padding-top: rem(50);

    &__img {
      margin-top: 0;
    }
  }
}

.name {
  margin-bottom: rem(10);
  font-size: rem(20);
  font-weight: 700;
  text-align: center;
}

.job {
  font-size: rem(18);
  font-weight: 600;
  line-height: 1.4;
  color: $color-red;
  text-align: center;
}

.contact {
  &__item {
    // @include debug(#fff);
    padding-left: rem(20);
    margin-bottom: rem(10);
    color: #fff;

    a {
      color: inherit;
    }
  }

  @include respond($width-tablet) {
    &__list {
      display: flex;
    }
  }
}

// skill ===========================
.skill {

  &__name {
    // @include debug;
    display: inline-block;
    width: rem(50);
    font-size: rem(18);
    line-height: 1.4;
  }

  @include respond($width-tablet) {
    &__items {
      display: flex;
      justify-content: space-around;
    }

    &__name {
      width: rem(53);
    }
  }
}


// detail =============================================================
.detail {
  width: 70%;
  padding-top: rem(5);

  .info__tit {
    border-color: $color-dark;
  }

  @include respond($width-tablet) {
    width: auto;
  }
}

.career {
  font-size: rem(16);
  line-height: 1.4;

  &__item {
    margin-bottom: rem(20);
    border-bottom: 1px solid $color-gray;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  &__date {
    width: 30%;
  }

  &__desc {
    width: 70%;
  }

  &__company {
    font-size: rem(20);
    font-weight: 700;
  }

  &__job {
    display: inline-block;
    margin-top: rem(5);
    margin-left: rem(15);
    font-size: rem(12);
    vertical-align: top;
  }

  &__project {
    margin-left: rem(15);
    margin-top: rem(20);
    font-size: rem(12);
    line-height: 1.4;

    li {
      margin-bottom: rem(10);
    }
  }

  &__link {
    display: inline-block;
    margin-left: rem(10);
  }

  @include respond($width-mobile) {
    &__item {
      padding-left: rem(20);
    }

    &__project li {
      margin-bottom: rem(25);
    }

    &__txt {
      display: block;
    }

    &__link {
      margin-left: 0;
      margin-top: rem(10);

      &:nth-of-type(2) {
        margin-left: rem(10);
      }
    }
  }
}