<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Resume: SEUNG-CHUL HAN</title>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/reset-eric.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <article class="wrap" id="js-app">
      <h1 class="a11y">RESUME - SEUNG-CHUL HAN</h1>
      <section class="intro">
        <h2 class="a11y">Introduce</h2>
        <figure class="intro__img">
          <img src="./images/avatar.png" alt="" />
        </figure>

        <h3 class="name">SEUNG-CHUL HAN</h3>
        <p class="job">FRONT END</p>

        <dl class="column">
          <dt class="column__tit contact">CONTACT</dt>
          <dd class="column__desc">
            <ul class="contact__list">
              <li class="contact__item" v-for="con in contact">
                <a v-if="con.title === 'email'" :href="'mailto:' + con.url">{{con.title}}</a>
                <a v-else :href="con.url">{{con.title}}</a>
              </li>
            </ul>
          </dd>
        </dl>
        <dl class="column skill">
          <dt class="column__tit">TECHNICAL SKILL</dt>
          <dd class="skill__items">
            <span class="skill__name" v-for="skill in skills"
              ><img :src="createImg(skill)" alt=""
            /></span>
          </dd>
        </dl>
      </section>
      <section class="detail">
        <h2 class="a11y">details</h2>

        <dl class="column">
          <dt class="column__tit">EDUCATION</dt>
          <dd class="column__desc">
            2007.2 - 시각디자인 졸업.
          </dd>
        </dl>

        <dl class="column career">
          <dt class="column__tit">CAREER</dt>
          <dd>
            <ol>
              <li class="career__item" v-for="career in careers">
                <time class="career__date">{{ career.date }}</time>
                <div class="career__desc">
                  <p>
                    <strong class="career__company">{{ career.company }}</strong
                    ><span class="career__job">{{ career.work }}</span>
                  </p>
                  <ul class="career__project">
                    <li v-for="project in career.projects">
                      <p><span class="career__txt">{{project.title}}</span><a class="career__link" v-if="project.url" :href="project.url" target="_blank">[url]</a><a class="career__link"  v-if="project.source" :href="project.source" target="_blank">[github]</a></p>
                    </li>
                  </ul>
                </div>
              </li>
            </ol>
          </dd>
        </dl>
      </section>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/resume.js"></script>
  </body>
</html>
